.container {
  padding: 20px;
  width: 100%;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.searchBar {
  width: 15rem;
  border: 1px solid lightgrey;
  padding: 0px 20px;
  border-radius: 10px;
}
.buttonStyles {
  background-color: #e2363f;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  padding: 0px 22px;
  height: 40px;
}
.buttonStyles:disabled {
  background-color: #f09ea4;
}

.tableContainer {
  border: 1px solid lightgrey;
  border-collapse: collapse;
}

.tableColHeader,
.tableData {
  padding: 12px 0px;
  text-align: left;
  width: 20rem;
  border-bottom: 1px solid lightgrey;
}

.tableData:hover {
  background-color: #f8fafc;
}

.checkbox {
  margin: 0px 20px;
}

.pagination {
  margin: 23px 0px 0px 0px;
  display: flex;
  justify-content: end;
  gap: 10px;
}
.paginationButtons {
  background-color: transparent;
  border: 1px solid lightgray;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
}
.rowButtons {
  background-color: transparent;
  border: 1px solid lightgray;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}
